version: 2
general:
  branches:
    only:
      - master

jobs:
  deploy:
    docker:
      - image: circleci/openjdk:8-jdk
    steps:
      - setup_remote_docker:
          version: 20.10.14
      - checkout
      - run:
          name: Deploy to ECS
          command: |
            sudo apt update -y
            sudo apt install awscli -y
            curl -sL https://deb.nodesource.com/setup_14.x | sudo -E bash -
            sudo apt-get install nodejs
            npm i
            aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws/c9a0a1j0
            docker build -t general-repo/react-app .
            docker tag general-repo/react-app:latest public.ecr.aws/c9a0a1j0/general-repo/react-app:success
            docker push public.ecr.aws/c9a0a1j0/general-repo/react-app:success
            aws ecs update-service --cluster general-cluster --service general-service-1 --force-new-deployment --region us-east-1
workflows:
  version: 2
  deploy_api:
    jobs:
      - deploy